@import '../abstract/variaveis';
nav{
    text-align: center;
    ul{
        li{
            display: inline-block;
            padding: 1.5rem;
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color: $cor-primaria;
                border-bottom: 2px solid white;
                &:hover{
                    border-bottom: 2px solid $cor-secundaria;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}